<% if @categories.blank? %>
    <p class="help-block">No categories found.</p>
<% else %>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Category Name</th>
        <th>Created At</th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each_with_index do |category, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td>
              <div>
                <%= category.name %>
                <div style="float:right;">
                  <span class="glyphicon glyphicon-edit" title='Edit' aria-hidden="true" id="editCategoryId" onclick="editCategory(<%= category.id %>)" style="cursor:pointer"></span>
                  <span class="glyphicon glyphicon-trash" title='Delete' aria-hidden="true" id="deleteCategoryId" onclick="deleteCategory(<%= category.id %>)" style="cursor:pointer"></span>
                </div>
              </div>
            </td>
            <td><%= category.created_at.strftime('%d/%m/%Y %H:%M:%S')%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <script>

        function deleteCategory(category_id){
            var confirmation = confirm('Are you sure?');
            if(!!confirmation){
                $.ajax(
                        {
                            method: 'delete',
                            url: '/categories/' + category_id
                        }
                ).success(function(response){
                            alert(response.message);
                            location.reload();
                        })
                        .error(function(response){
                            alert(response.message);
                        })
            }
        }

        function editCategory(category_id) {
            var newName = prompt('Please enter new name for this category.');
            if (!!newName) {
                $.ajax(
                        {
                            method: 'put',
                            url: '/categories/' + category_id,
                            data: {name: newName}
                        }
                ).success(function(response){
                            alert(response.message);
                            location.reload();
                        })
                        .error(function(response){
                            alert(response.message);
                        })
            }
        }

        $('.category_keyword').autocomplete({
            minLength: 2,
            delay: 600,
            source: function(request, response) {
                $.ajax({
                    url: $('#category_keyword').data('autocomplete-source'),
                    dataType: "json",
                    data: {name: request.name},
                    success: function( data ) {
                        response( data );
                    }
                });
            }
        });
    </script>
<% end %>