<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Custon Signup" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <a href="http://www.flipkart.com/bs-spy-electronic-heating-pad-electrical-2-l-hot-water-bag/p/itme9zcb4huatke2?pid=HWBE9ZCAJ5CZBFJP&affid=nimishajh">Bs Spy Electronic Heating Pad Electrical 2 L Hot Water Bag</a>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
